<div id="contentWrap">
  <div class="container">
    <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="profile">
            <img style="border-radius: 30px; width: 10%" src="http://emilcarlsson.se/assets/mikeross.png" class="online"
                 alt=""/>
            <span class="ml-2" style="color: white">{{username}}</span>

            <div class="dropdown dropleft float-right">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" style="cursor: pointer" (click)="openMessagebox(user)"  *ngFor="let user of listofuser">{{user}}</a>
              </div>
            </div>
          </div>
          <div id="search">
            <label><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..."/>
          </div>
          <div class="inbox_chat mt2">
            <div *ngFor="let user of chatList">
              <div class="chat_list active_chat" (click)="selectedUser(user.nick)">
                <div class="chat_people">
                  <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
                  <div class="chat_ib">
                    <h5>{{user.nick}} <span class="chat_date">{{user.date}}</span></h5>
                    <span class="badge badge-danger" style="float: right;" *ngIf="myKey[user.nick]"> {{myKey[user.nick]}} </span>
                    <p>{{user.msg}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="showChat; else Block ">
          <div class="mesgs" id="chatwindow">
            <div class="content">
              <div class="contact-profile">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
                <p>{{selectUser}}</p>
                <div class="social-media">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="msg_history" id="scroll" style="margin-top: 10px">
              <div *ngFor="let m of msg">
                <div *ngIf="m.flag === true">
                  <div class="incoming_msg">
                    <div class="incoming_msg_img"><img src="https://ptetutorials.com/images/user-profile.png"
                                                       alt="sunil">
                    </div>
                    <div class="received_msg">
                      <div class="received_withd_msg">
                        <p>{{m.msg}}</p>
                        <span class="time_date">{{m.time}}    |   {{m.date}}</span></div>
                    </div>
                  </div>
                </div>
                <div *ngIf="m.flag === false">
                  <div class="outgoing_msg">
                    <div class="sent_msg">
                      <p>{{m.msg}}</p>
                      <span class="time_date">{{m.time}}    |   {{m.date}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="type_msg">
              <div class="input_msg_write">
                <form id="send-message">
                  <input class="write_msg" placeholder="Type a message" id="message" [(ngModel)]="msgval" name="msgval">
                  <button class="msg_send_btn" type="submit" (click)="sendmessage()"><i
                    class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <ng-template #Block>
          <div
            style="background-color: #f8f8f8;width: 60%;float: right;text-align: center;/* font-size: 18PX; *//* padding: 284px; */height: 610px;">
            <label style="color:#000000;font-size: 22px;padding-top: 275px;">Select User To Start
              Chatting</label></div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<toaster-container [toasterconfig]="config"></toaster-container>
