<ngx-ui-loader [loaderId]="'loader-01'"></ngx-ui-loader>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="my-form " style="margin:30px;">

    <div class="row justify-content-center">
        <div class="col-md-8">
          <svg #barcode id="barcode"></svg>
          <h4 class="text-center panel-title">User Login</h4>
          <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate method="post"
                enctype="multipart/form-data">


            <div class="form-group">
              <label>Username:</label>
                <input type="text" name="uname" class="form-control "
                       [(ngModel)]="model.uname" #uname="ngModel" required
                       [ngClass]="{ 'border-danger': uname.touched && uname.invalid }"/>
                <div *ngIf="uname.errors && (uname.dirty || uname.touched)" class="alert alert-danger ">
                  <div [hidden]="!uname.errors.required">Username is required!</div>
                </div>
              </div>

            <div class="form-group">
              <label>Password:</label>
                <input type="password" name="password" id="password" class="form-control "
                       [(ngModel)]="model.password" required
                       #password="ngModel"
                       [ngClass]="{ 'border-danger': password.touched && password.errors }">
                <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger ">
                  <div [hidden]="!password.errors.required">Password is required!</div>
                </div>
              </div>


            <div class="form-group ">
              <div class="col-md-12">
                <toaster-container [toasterconfig]="config"></toaster-container>
                <input class="btn btn-primary" style="margin:5px;" value="Login" type="submit"
                       (change)="login()"/>
                <input class="btn btn-primary" style="margin:5px;" value="Register" type="button"
                       (click)="goToRegister()"/>
              </div>
            </div>
            <!--<button (click)="forgotPassword()" class="btn btn-link">Forgot password?</button>-->
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
